{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>
    <p>Here is the about page.</p>
    {% if visits %}
        <p>Visits: {{ visits }}</p>
    {% endif %}
    <div>
        hey there partner! <br />
        <strong>{{ your_name }}</strong> <br />
    </div>
    <li><a href="{% url 'rango:index' %}">Home</a></li>
    <div>
        <img src="/media/cat.jpg" alt = "Picture of Cat" /> 
    </div>
{% endblock %}
